@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#scrollTopBtn {
    border: none;  
    border-radius: 50%; 
    outline: none;  
    background-color: rgb(239, 79, 95); 
    position: fixed; 
    bottom: 3rem; 
    right: 2rem; 
    z-index: 100; 
    color: white;  
    padding: 25px; 
  }

  #scrollTopBtn i{
    font-size: 22px;
  }
  
  #scrollTopBtn:hover {
    background-color: rgb(217, 50, 67); 
    cursor: pointer;
  }
  
.header1{
    display: flex;
    width: 80%;
    overflow: hidden;
    margin: 1rem 10rem;
    
}

.logo img{
    max-width: 10rem;
    height: 2rem;
    display: block;
    cursor: pointer;
    margin-top: 1rem;
}
.st{
   margin-top: 0.5rem;
   margin-left: 4rem;
  
 
}
.search{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 2rem;
    padding: 8px;
    box-shadow: 0 0px 8px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    font-size: x-large;
    border: 1px solid rgb(158, 158, 158);
   
}
select:hover{
    cursor: pointer;
}
.search select{
 width: 35%;
 border: none;
 background-color: white;
}
.icon{
    color: rgb(158, 158, 158);
    
}

.search input{
 border: none;
 width: 80%;
 
}
.search input,.search select:focus{
    outline: none;
}
.profile{
    display: flex;
    cursor: pointer;
   margin-left: 15rem;
   
}

.profile img{
    max-width: 10rem;
    height: 2.5rem;
    margin-top: 0.8rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
   
}
.profile p{
    font-size: 1.2rem;
    margin-top: 1.3rem;
   
   
    color: rgb(28, 28, 28);
    max-width: 9rem;
}
.arrow img{
    margin-left: 0.5rem;
    max-width: 5rem;
    height: 1.5rem;
    margin-top: 1.25rem;
}
#probutton{
    background-color: white;
  border: none;
}


















.home{
    position: relative;
   
    height: 3rem;
 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.home1{
width: 80%;
}
.home2{
  
   padding-top: 0.8rem;
  
}
.home2 a{
   
    text-decoration: none;
    color: black;
}

.home a:hover{
       color: red;
}




















.filters{
    position: relative;
   background-color: white;
    width: 100vw;
    display: flex;
    max-height: 4.8rem;
    height: 4.8rem;

    
    
    flex-direction: column;
    align-items: center;
    
} 
.filter1{
    width: 80%;
}
.filters2{
    margin-top: 1.3rem;
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }
  #button{
    border: 1px solid rgb(207, 207, 207);
    color: rgb(156, 156, 156);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
    border-radius: 0.8rem;
    padding: 10px 20px; 
    font-size: 16px;
    margin-right: 1rem;
    cursor: pointer;
    display: inline-block; 
    transition: background-color 0.3s; 
}

#button:hover {
    background-color: rgb(245, 245, 245); /* Very light gray */
}

.filters a{
    text-decoration: none;
}


.box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    max-height: 20rem;
    background-color: rgb(248, 248, 248); 
    
   }
.box1{

    width: 80%;
    height: 20rem;
    max-height: 20rem;
    
    
    
}
.box11{
    display: flex;
    gap: 0.9rem;
    overflow-x: auto; /* Enables horizontal scrolling if overflow */
    overflow-y: hidden; /* Prevents vertical scrolling */
    scrollbar-width: none;
   
    }
   
.happy h3{
    color: rgb(28, 28, 28);
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 200;
}
.cardbox{
    
   
    max-width: 12rem;
    height: 13rem;
    max-height: 20rem;
    margin-top: 1rem;
}
.cardbox a{
    text-decoration: none;
    
}
.cards1{
    font-size: 1rem;
    font-weight: normal;
    
    border-radius: 50%;
    }


.cards1 img{
    border-radius: 50%;
    width: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: box-shadow 0.3s ease;
}

.cards1 p{
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
    line-height: 3.2rem;
    font-weight: 500;
    text-align: center;
    padding-right: 1.6rem;
   
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}




.box2{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    max-height: 20rem;
    
   
   
}








.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  }
.restaurants h1{
    color: rgb(28, 28, 28);
    margin-top: 1rem;
    font-size: 2.5rem;
   margin-left: -25rem;
    font-weight: 200;
}
.list{
   
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;
    margin-top: 2rem;
    width: 80%;
}
.outerbox{
    width: 22rem;
    border-radius: 0.5rem;
    
    transition: box-shadow 0.3s ease;
} 
.outerbox:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.listitems{
    
    background-color: white;
    border-radius: 0.5rem;
    }

.listitems img{
   
    width: 21rem;
    object-fit: cover;
    border-radius: inherit;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 15rem;
    
    
}

.list a{
    text-decoration: none;
}
.list a h4{
      
     
      font-weight: 500;
      margin-left: 0.5rem;
      font-size: 1.7rem;
      
      max-width: 80%;
      color: rgb(28, 28, 28);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
     
}
.list a p{
    
    margin-left: 0.5rem; 
    
    
   
   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 48%;
   
} 







.end{
    
    margin-top: 1rem;
}
.end1{
    display: flex;
    
    margin-left: 30rem;
    margin-right: 30rem;
   
    justify-content: space-between
    
}
.endresult h3{
    font-size: 1.5rem;
    margin-top: 5rem;
}
.endresultimg img {
   width: 10rem;
   margin:1rem;
}













.copyright{
    border: 1px solid rgba(158,158,158,0.1);
    margin: 2rem 0;
    background-color: rgb(248, 248, 248);
}

.foot1{
    /* border: 1px solid black; */
    margin: 2rem 13.5rem;
    display: flex;
    justify-content: space-between;
}
.foot1-icon{
    /* border: 1px solid black; */
    width: 7.5rem;
    margin-top: 1%;
}
.f1-icon{
    width: 100%;
}
.foot1-menu{
    /* border: 1px solid black; */
    width: 16rem;
    display: flex;
    justify-content: space-between;
}
.foot1-countries select{
    background-color: rgb(248, 248, 248);
    height: 100%;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 150;
    border: 1px solid rgb(158,158,158);
    border-radius: 10px;
}
.foot1-language{
    border: 1px solid rgb(158,158,158);
    border-radius: 10px;
    padding: 0 0.5rem;
}
.foot1-language select{
    height: 100%;
    border: none;
    background-color: rgb(248, 248, 248);
    font-size: 1.2rem;
    font-weight: 150;
}

.foot2{
    /* border: 1px solid black; */
    margin: 1rem 13.5rem;
    display: flex;
    justify-content: space-between;
}

.f2-about-head{
    letter-spacing: 3px;
}
.f2-about-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.f2-about-links a{
    font-size: 15px;
    line-height: 28px;
    color: rgb(158,158,158);
    text-decoration: none;
}

.f2-zomaverse-head{
    letter-spacing: 3px;
}
.f2-zomaverse-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.f2-zomaverse-links a{
    font-size: 15px;
    line-height: 28px;
    color: rgb(158,158,158);
    text-decoration: none;
}

.f2-learn-head{
    letter-spacing: 3px;
}
.f2-learn-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.f2-learn-links a{
    font-size: 15px;
    line-height: 28px;
    color: rgb(158,158,158);
    text-decoration: none;
}

.f2-social-head{
    letter-spacing: 3px;
}
.f2-social-icons{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.f2-social-icons:hover{
    cursor: pointer;
}

.foot2-res-enter{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.f2-restaurant-head{
    letter-spacing: 3px;
}
.f2-restaurant-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.f2-restaurant-links a{
    font-size: 15px;
    line-height: 28px;
    color: rgb(158,158,158);
    text-decoration: none;
}

.f2-enterprise-head{
    letter-spacing: 3px;
}
.f2-enterprise-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.f2-enterprise-links a{
    font-size: 15px;
    line-height: 28px;
    color: rgb(158,158,158);
    text-decoration: none;
}

.foot3{
    margin: 2rem 13.5rem;
    color: rgb(158,158,158);
    font-size: small;
}


















